// Body styles

body {
	font-family: "Nunito", sans-serif;
	background: $background;
	color: $text;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: calc(100%);
	ul {
		list-style: none;
	}
	box-sizing: border-box;
}

// Adjusting to vertical menu
@include media-large {
	main,
	footer {
		margin-left: calc($header-width + 5px);
		width: calc(100% - $header-width - 5px);
	}
}
