// Body styles

body {
	font-family: "Nunito", sans-serif;
	font-size: 1.1rem;
	background: $background;
	color: $text;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: calc(100%);
	ul {
		list-style: none;
		padding-left: 0;
	}
	box-sizing: border-box;
	h1,
	h2 {
		font-size: 1.7rem;
	}
	h3 {
		font-size: 1.3rem;
	}
}

main {
	background: $background-light;
}

// Adjusting to vertical menu
@include media-large {
	main,
	footer {
		margin-left: calc($header-width + 5px);
		width: calc(100% - $header-width - 5px);
	}
}
