// Colours

// Generated palette from coolors.co

$black: #1f2421;

$light-purple: #ab92bf;
$dark-purple: #683257;

$white: #f0e7d8;

$blue: #63ccca;

// Colour functions

$background: $white;

$text: $black;

$highlight: $blue;

$spot-light: $light-purple;
$spot-dark: $dark-purple;