// Header styles

// Button

button {
	margin: auto;
	width: calc(80%);
	height: calc(80%);
	background-color: $spot-dark;
	border-radius: 15px;
	border: none;
	color: $highlight;
	a {
		color: inherit;
	}
}

header {
	border-bottom: 5px solid $highlight;
	#logo {
		margin: auto;
		max-height: calc(100%);
		max-width: calc(100%);
	}
	img {
		margin: auto;
		height: calc(50%);
		width: calc(50%);
	}
	ul {
		margin: auto;
		padding-left: 0;
	}
	li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	div {
		height: calc(20vh);
		width: calc(100%);
		display: flex;
		flex-direction: row;
		div:first-of-type {
			border-right: 5px solid $highlight;
			width: calc(50%);
		}
		div:nth-of-type(2) {
			width: calc(50% - 5px);
		}
		div:nth-of-type(n + 3) {
			display: none;
		}
	}
}

// Small+ menu

@include media-small {
	header {
		div {
			div:first-of-type {
				border-right: 5px solid $highlight;
				width: calc(35%);
			}
			div:nth-of-type(2) {
				display: none;
			}
			div:nth-of-type(3) {
				display: inline-flex;
				width: calc(65% - 5px);
			}
			div:nth-of-type(n + 4) {
				display: none;
			}
		}
	}
}

// link font size reset
@include media-med {
	a {
		font-size: 1.6rem;
	}
}

// Vertical menu
@include media-large {
	header {
		position: fixed;
		left: 0;
		div {
			display: flex;
			flex-direction: column;
			border-right: 5px solid $highlight;
			width: $header-width;
			div:nth-of-type(n + 3) {
				border-top: 5px solid $highlight;
			}
			p {
				color: $background;
				height: calc(100vh);
			}
		}
		// reset properties
		border-bottom: none;
		h1 {
			color: $highlight;
			margin: auto;
			font-size: 5rem;
		}
		a {
			text-decoration: none;
			color: $text;
			font-size: 1.35rem;
			font-weight: 600;
		}
		ul {
			margin: auto;
			padding-left: 0;
		}
		div {
			height: auto;
			div:first-of-type {
				border-right: 5px solid $highlight;
				width: $header-width;
			}
			div:nth-of-type(3) {
				width: $header-width;
			}
			div:nth-of-type(n + 4) {
				display: block;
			}
		}
	}
}
