// Header styles

// Default menu

header {
	border-bottom: 5px solid $highlight;
	h1 {
		color: $highlight;
		margin: auto;
		font-size: 5rem;
	}
	a {
		text-decoration: none;
		color: $text;
		font-size: 1.35rem;
		font-weight: 600;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		margin: auto;
		padding-left: 0;
	}
	div {
		height: calc(20vh);
		width: calc(100%);
		display: flex;
		flex-direction: row;
		div:first-of-type {
			border-right: 5px solid $highlight;
			width: calc(35%);
		}
		div:nth-of-type(2) {
			width: calc(65% - 5px);
		}
		div:nth-of-type(n + 3) {
			display: none;
		}
	}
}

// Vertical menu
@include media-large {
	header {
		position: fixed;
		left: 0;
		div {
			display: flex;
			flex-direction: column;
			border-right: 5px solid $highlight;
			width: $header-width;
			div:nth-of-type(n + 2) {
				border-top: 5px solid $highlight;
			}
			p {
				color: $background;
				height: calc(100vh);
			}
		}
		// reset properties
		border-bottom: none;
		h1 {
			color: $highlight;
			margin: auto;
			font-size: 5rem;
		}
		a {
			text-decoration: none;
			color: $text;
			font-size: 1.35rem;
			font-weight: 600;
			&:hover {
				text-decoration: underline;
			}
		}
		ul {
			margin: auto;
			padding-left: 0;
		}
		div {
			height: auto;
			div:first-of-type {
				border-right: 5px solid $highlight;
				width: $header-width;
			}
			div:nth-of-type(2) {
				width: $header-width;
			}
			div:nth-of-type(n + 3) {
				display: block;
			}
		}
	}
}
