// Icons

// Load in font

@font-face {
	font-family: "Icon";
	src: url("../fonts/icon.eot");
	src: url("../fonts/icon.woff") format("woff"),
		url("../fonts/icon.ttf") format("truetype");
}

// Add icons

a:hover:before {
	font-family: "Icon";
	content: "\e903";
	font-size: 1rem;
}

a:hover:after {
	font-family: "Icon";
	content: "\e902";
	font-size: 1rem;
}

#icn-github:before {
	font-family: "Icon";
	content: "\eab0";
	font-size: 2.5rem;
	@at-root #icn-github:hover {
		color: $text-hover;
	}
}

#icn-down:before {
	font-family: "Icon";
	content: "\e900";
}

#icn-up:before {
	font-family: "Icon";
	content: "\e901";
	@at-root #icn-up {
		display: block;
	}
}
