// Page styles

.border-box {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid $text;
	border-radius: 14px;
	background-color: $background;
	h2 {
		margin-left: 15%;
		margin-right: 15%;
	}
}

// Code snippets

.code-snippet {
	text-align: left;
	.border-box {
		background-color: $background-light;
		margin-top: 15px;
	}
}

// headshot

.headshot {
	border: 3px solid $text;
	border-radius: 14px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
}

// media wide on text pages

@include media-wide {
	#about-box,
	#scs-box {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#scs-box {
		div:first-of-type {
			grid-column-start: span 2;
		}
	}
}
