// Splash styling

#splash {
	background: $spot-dark;
	color: $spot-light;
	text-align: center;
	height: calc(80vh - 5px);
	h1 {
		padding-top: 50%;
		margin-top: 0;
	}
}

// Large styles

@include media-large {
	#splash {
		height: calc(100vh);
		max-height: 820px;
	}
}
