// Splash styling

#splash {
	background: $spot-dark;
	color: $spot-light;
	text-align: center;
	height: calc(80vh - 5px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	h3 {
		margin-top: auto;
	}
	h1 {
		padding-top: 50%;
		margin-top: 0;
	}
	a {
		color: $spot-light;
	}
}

// Large styles

@include media-large {
	#splash {
		height: calc(100vh);
		max-height: 820px;
	}
}
